.weelbeing-img{
    width:100%;
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-blue-aura-background-picture-image_1160019.jpg");
    min-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.text-header{
    color:white
}
.article-bg{
font-weight: lighter;

padding:10%;
}
.article-text{
    font-size: small;
}